@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --blue: #31326f;
  --light-blue: #258aff;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #e3eef8;
  --light-grey: #ccc;
  --dark-grey: #222831;
  --pink: #e9204f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

section {
  width: 100%;
  padding: 8rem 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 111rem;
}

img {
  width: 100%;
}





header {
  background-color: var(--black);
  width: 100%;
  padding: 7px 0;
}

nav {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo {
  width: 16rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem 0;
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.link{
  position: relative;
}


.link::before, .active::before {
  content: "";
  position: absolute;
  background-color: var(--pink);
  width: 50%;
  left: 0;
  bottom: -5px;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}

.active {
  position: relative;
}

.link:hover::before {
  transform: scaleX(1);
}

.active::before {
  transform: scaleX(1);
}

.close{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

.hamburger{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}


.hamburger {
  display: none;
}

.search {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

.search {
  font-size: 1.8rem;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem 3rem 0 0;
  display: none;
}




.top-part {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    z-index: -2;
  }
  
  .top-part .wrapper {
    background: url(./images/hero_02.jpg) no-repeat;
    background-size: 50%;
    background-position-x: 70%;
  }
  .we {
    position: relative;
    padding-top: 3rem;
  }
  
  .we::before {
    content: "";
    position: absolute;
    top: 5rem;
    left: 0;
    width: 5rem;
    height: 3px;
    background-color: var(--pink);
  }
  
  .first-text {
    width: 80%;
    padding: 8rem 0;
  }
  
  .first-text h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5rem;
  }
  
  .get-btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    border: 2px solid var(--pink);
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
  }
  
  .btn {
    background-color: transparent;
    overflow: hidden;
  }
  
  .get-btn::before {
    position: absolute;
    content: "";
    width: 99%;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    background-color: var(--pink);
    transition: all 0.4s;
    z-index: -1;
  }
  
  .get-btn:hover::before {
    transform: translateX(0);
  }
 


  .card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 15px;
    column-gap: 15px;
    margin: 0 auto;
    z-index: 1;
  }

  .card-wrapper > div {
    background-color: var(--dark-grey);
    padding: 60px 30px;
    max-width: 470px;
  }



  .card-sec span{
    position: relative;
  }

  .card-sec i{
    font-size: 37px;
    padding-bottom: 60px;
    color: var(--pink);
  }

  .card-sec h2{
    font-size: 22px;
    padding-bottom: 40px;
  }

  .under::before {
    content: "";
    position: absolute;
    background-color: var(--pink);
    width: 65%;
    left: 0;
    bottom: -12px;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.6s;
    transform-origin: left;
  }
  
  
  .under::before {
    transform: scaleX(1);
  }


  .card-sec:nth-child(3){
    position: relative;
    background-color: var(--dark-grey);
  }

  .card-sec:nth-child(3)::before{
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    height: 70px;
    width: 105%;
    background-color: var(--pink);
    z-index: -1;
  }

  .card-sec:nth-child(3)::after{
    position: absolute;
    content: "";
    bottom: -15px;
    right: -5%;
    height: 70px;
    width: 5%;
    background-color: var(--pink);
  }

  .card-sec:hover{
    background-color: var(--pink);
    color: var(--white);
  }

  .card-sec:hover i{
    background-color: var(--pink);
    color: var(--white);
  }
  

  .card-sec:nth-child(1){
    background-color: var(--pink);
    color: var(--white);
  }

  .card-sec:nth-child(1) i{
    background-color: var(--pink);
    color: var(--white);
  }

  .card-sec:hover .under::before{
    background-color: var(--white);
  }

  .card-sec:nth-child(1) .under::before{
    background-color: var(--white);
  }

  .services h1{
    font-size: 50px;
    margin-bottom: 2rem;
  }


.services{
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
}

.service-header{
  margin-bottom: 5rem;
}

  .services p{
    color: var(--pink);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
  }
  

  .top-line {
    position: relative;
  }
  
  .top-line::before {
    content: "";
    position: absolute;
    bottom: 7rem;
    left: 0;
    width: 5rem;
    height: 3px;
    background-color: var(--pink);
  }
  

.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
    margin-top: 2rem;
}


.grid-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: var(--light-grey);
  align-items: center;
  cursor: pointer;
}


.grid-item > div{
  max-width: 560px;
}

.grid-item p{
  color: var(--black);
  font-size: 19px;
  text-transform: capitalize;
}


.grid-item i{
  color: var(--pink);
  font-size: 20px;
}

.grid-item .fa-arrow-right{
  color: var(--black);
  font-size: 17px;
}

.grid-item:hover{
  background-color: var(--pink);
  color: var(--white);
}

.grid-item:hover p{
  background-color: var(--pink);
  color: var(--white);
}

.grid-item:hover i, p:hover{
  background-color: var(--pink);
  color: var(--white);
}

.service-header p:hover{
  background-color: var(--white);
  color: var(--pink);
}

.red-vertical{
  background-color: var(--pink);
  height: 50px;
  width: 3px;
  margin: 7rem auto 0 auto;
}

#about-sec{
  margin: 0 auto;
  width: 85%;
  justify-content: center;
  align-content: center;
}





.abt-header h1{
  font-size: 50px;
  margin-bottom: 2rem;
}

.abt-header{
  margin-bottom: 5rem;
}

  .abt-header p{
    color: var(--pink);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
  }

  .abt-header p:hover{
    color: var(--pink);
    background-color: var(--white);
  }

  .img-sec p:hover{
    color: var(--black);
    background-color: var(--white);
  }
  

  .top-line {
    position: relative;
  }
  
  .top-line::before {
    content: "";
    position: absolute;
    bottom: 8rem;
    left: 0;
    width: 5rem;
    height: 3px;
    background-color: var(--pink);
  }
  


.abt-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
}

.img-sec{
  position: relative;
  cursor: pointer;
}

.img-sec img{
  filter: grayscale(80%);
}

.img-sec img:hover{
  filter: grayscale(20%);
}



.img-sec h3{
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  font-size: 22px;
  color: var(--white);
}

.img-sec p{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 18px;
  color: var(--white);
}

.img-sec p:hover{
  background-color: transparent;
  color: var(--white);
}

.img-sec:nth-child(1){
  grid-column: 1/3;
  grid-row: 1/3;
}

.abt-text{
  margin: 50px auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  row-gap: 5rem;
  column-gap: 2rem;
  
}

.u-txt h1{
  font-size: 24px;
  padding-bottom: 1rem;
}

.u-txt p{
  color: gray;
}

.u-txt p:hover{
  background-color: transparent;
}


#news-wrapper{
  margin: 0 auto;
  width: 80%;
}

.news-header{
  text-align: center;
}

.news-header h1{
  font-size: 5rem;
  margin-bottom: 3rem
}

.news-header p{
  color: var(--pink);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem
}

.news-header p:hover{
  background-color: transparent;
}


.news-sec{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  row-gap: 5rem;
  column-gap: 3rem;
}

.news-img{
  background-color: var(--light-grey);
  position: relative;
  text-align: center;
  padding: 0 10px 2px 10px;
  overflow: hidden;
  cursor: pointer;
}

.news-img i{
  font-size: 16px;
  padding-top: 18px;
  color: var(--white);
}

.news-img h2{
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}

.news-img h1{
  color: var(--white);
  font-size: 24px;
}

.news-img{
  filter: grayscale(100%);
}

.news-img img{
  width: 100;
  transform: scale(1);
  transition: all 0.3s;
}

.news-img:hover img{
  transform: scale(1.3) rotate(5deg);
}


.news-img:hover{
  filter: grayscale(20%);
}


.news-img .img-txt{
  position: absolute;
  bottom: 6px;
  transform: translateY(3rem);
  transition: all 0.3s;
}

.news-img:hover .img-txt{
  transform: translateY(0);
}


.footer-wrapper{
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 0;
}

.social-icon i{
  font-size: 3rem;
  color: var(--white);
  margin-left: 0.8rem;
  border: 3px solid var(--pink);
  border-radius: 49%;
  padding: 1.1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.social-icon i:nth-child(1){
  padding: 1rem 1.6rem;
}

.social-icon i:nth-child(3){
  padding: 1rem 1.2rem;
}

.social-icon i:hover{
  transform: translateY(-1.2rem);
}

.footer-txt p{
  color: var(--white);
  font-size: 5.5rem;
  font-weight: 700;
}

.footer-txt p:hover{
  background-color: transparent;
}

footer{
  background-color: var(--black);
  padding: 4rem 0;
}

footer p{
  color: var(--white);
  text-align: center;
  font-size: 20px;
}

footer p:hover{
  background-color: transparent;
}